<div>
	<!-- Banner -->
	<div class="banner">
		<div class="home_background" style="background-image: url(/images/dna-marquee-1600x480.jpg)"></div>
		<div class="container fill_height">
			<div class="row fill_height">
				<!-- <div class="banner_product_image"><img src="images/banner_product.png" alt=""></div> -->
				<div class="col-lg-5 offset-lg-4 fill_height">
					<div class="banner_content">
					<h1 class="banner_text">Cisco Digital Network Architecture (Cisco DNA)</h1>
					
 						<!-- <h1 class="banner_text">new era of smartphones</h1> -->
						<!-- <div class="banner_price"><span>$530</span>$460</div> -->
						<div class="banner_product_name">It’s all about an intent-based network that continuously bridges the gap between business and IT. It’s the new era in networking, built on Cisco DNA.</div>
						<!-- <div class="button banner_button"><a href="#">Shop Now</a></div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>