<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar-default navbar-fixed-top">
        <div class="container">
			<div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">CISCO</a>
                <ul class="nav navbar-nav" th:each="cat : ${catname}">
                    <li><a href="#" th:href="@{'/catalog/{id}'(id=${cat.parentId})}" th:text="${cat.catname}"></a></li>
                </ul>
<div style="color: white; text-align: right"<i class="fa fa-shopping-cart fa-2x"></i></div>
			</div>
		</div>
	</nav>
</div>
</html>