<div class="cart">
    <div class="cart_container d-flex flex-row align-items-center justify-content-end">
        <div class="cart_icon"><i class="fas fa-shopping-cart" style="font-size:30px"></i>
            <!--<div th:if="${#lists.isEmpty(cart)}" class="cart_count">{{itemCount()+100}}</div>-->
            <div class="cart_count">{{itemCount()}}</div>
        </div>
        <div class="cart_content">
            <!--<div class="cart_text"><a th:href="@{'/cart'}" href="#">Cart</a></div>-->
            <!--<div th:if="${#lists.isEmpty(cart)}" class="cart_price"></div>-->
            <div class="cart_price">{{total()}}</div>
        </div>
    </div>
</div>