
<div>
		<!-- Order -->
		<div class="cart_section">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="cart_container">
							<div class="cart_title" text="'Order #'+${order.id}">Order</div>


								<div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">							
										<!-- Contact Item -->
										<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
											<div class="contact_info_image"><i class="fas fa-mobile-alt fa-2x"></i></div>
											<div class="contact_info_content">
												<div class="contact_info_title">Phone</div>
												<div class="contact_info_text" ng-bind="user.phone">+38 068 005 3570</div>
											</div>
										</div>

										<!-- Contact Item -->
										<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
											<div class="contact_info_image"><i class="far fa-envelope fa-2x"></i></div>
											<div class="contact_info_content">
												<div class="contact_info_title">Email</div>
												<div class="contact_info_text" ng-bind="user.email">sales@gmail.com</div>
											</div>
										</div>

										<!-- Contact Item -->
										<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
											<div class="contact_info_image"><i class="fas fa-map-marker-alt fa-2x"></i></div>
											<div class="contact_info_content">
												<div class="contact_info_title">Address</div>
												<div class="contact_info_text" ng-bind="address">10 Suffolk at Soho, London, UK</div>
											</div>
										</div>
								</div>
		
							
							
							<div class="cart_items">
								<ul class="cart_list">
									<li class="cart_item clearfix">
															
										<table class="table table-borderless table-hover horizontal-align">
										<thead>
											<th class="cart_item_title" style="width: 20%">#PartNumber</th>
											<th class="cart_item_title" style="width: 58%">Product</th>
											<th class="cart_item_title" style="width: 4%">Quantity</th>
											<th class="cart_item_title" style="width: 4%">Price</th>
											<th class="cart_item_title" style="width: 4%">Total</th>
										</thead>
										<tbody>
										<tr ng-repeat="item in orderDetailsSet">
											<td class="cart_item_text">{{item.product.partNumber}}</td>
											<td class="cart_item_text">{{item.product.description}}</td>
											<td class="cart_item_text">{{item.quantity}}</td>
											<td class="cart_item_text">{{item.product.price}}</td>
											<td class="cart_item_text">{{item.subTotal}}</td>
										</tr>
										</tbody>
										
										</table>

									</li>
								</ul>
							</div>
							
							<!-- Order Total -->
							<div class="order_total">
								<div class="order_total_content text-md-right">
									<div class="order_total_title">Order Total:</div>
									<div class="order_total_amount" text="${order.orderTotal}">$2000</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
</div>