<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body ng-app>
<div class="super_container">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navigator :: navigator"></div>
    <!-- <div th:if="${not #lists.isEmpty(catalog)}"> -->
    <div th:replace="operations/catalog :: catalog"></div>
    <!-- </div> -->
	<div th:replace="fragments/banner :: banner"></div>
	<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>