<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="catalog">
		<!-- Catalog -->
		<div th:if="${not #lists.isEmpty(products)}" class="container">
			<table class="table table-bordered table-hover horizontal-align">
				<thead>
				<tr>
					<th style="width: 15%">#PartNumber</th>
					<th style="width: 45%">Product</th>
					<th style="width: 15%">Price</th>
					<th style="width: 10%">Qty</th>
					<th style="width: 5%">Add to cart</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.partNumber}">#</td>
					<td th:text="${product.description}">Product</td>
					<td th:text="${product.price}">Price</td>
					<form class="form-horizontal" th:object="${product}" th:action="@{/cart}" name="cart_add" id="cart_add"
              method="post" role="form">					
					<td style="text-align: center">
						<input type="hidden" id="id" th:name="id" th:value="*{id}"/>
						<input type="number" class="form-control form-control-sm" id="amount" th:name="amount" th:value="1" min="1" maxlength="20"/>
					</td>
					<td style="text-align: center"><button type="submit" style="cursor: pointer" class="btn btn-primary btn-sm">Add to cart</button></td>
					</form>
				</tr>
				</tbody>
			</table>
		</div>
</div>
</html>