<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="catalog">
		<!-- Catalog -->
		<div th:if="${not #lists.isEmpty(products)}" class="container mt-3">
			<table class="table table-bordered table-hover horizontal-align">
				<thead>
				<tr>
					<th style="width: 20%">#PartNumber</th>
					<th style="width: 45%">Product</th>
					<th style="width: 12%">Price</th>
					<th style="width: 8%">Quantity</th>
					<th style="width: 5%">Add/Remove</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.partNumber}">#</td>
					<td th:text="${product.description}">Product</td>
					<td th:text="${product.price}">Price</td>
					<form class="form-horizontal" th:object="${product}" th:action="${cart.getItemByProductId(product.id)==null}?@{/cart}:@{/cart/delete}" name="cart_add" id="cart_add" method="post" role="form">					
					<td style="text-align: center">
						<input type="hidden" id="id" th:name="id" th:value="*{id}"/>
						<input type="number" class="form-control form-control-sm input-number btn-block" id="amount" th:disabled="${cart.getItemByProductId(product.id)!=null}" th:name="amount" th:value="1" min="1" max="10"/>
					</td>
					<div th:switch="${cart.getItemByProductId(product.id)==null}">
					<td th:case="${false}" style="text-align: center"><button type="submit" style="cursor: pointer" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-up" style="font-size:16px"></i></button></td>
					<td th:case="${true}" style="text-align: center"><button type="submit" style="cursor: pointer" class="btn btn-secondary btn-sm"><i class="fas fa-arrow-circle-down" style="font-size:16px"></i></button></td>
					</div>
					</form>
				</tr>
				</tbody>
			</table>
		</div>
</div>
</html>