<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="checkout">
		<!-- Checkout -->
		<div class="cart_section">
			   <div class="container">



    </div>

			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="cart_container">
						<form autocomplete="off" action="#" th:action="@{/create}" th:object="${userAddress}" method="post" role="form" >
							<div class="cart_title">Checkout</div>
							<div class="cart_items">

								<ul class="cart_list">

								    <div class="row d-flex justify-content-center">

										<div class="col-md-8 order-md-1">

										  <h4 class="mb-3 mt-3">Billing address</h4>
											<div class="row">
											  <div class="col-md-6 mb-3 ">
												<label for="firstName">First name</label>
												<input type="text" class="form-control" id="firstName" th:value="${customer.firstName}" th:placeholder="${customer.firstName}" placeholder="" required>
											  </div>
											  <div class="col-md-6 mb-3">
												<label for="lastName">Last name</label>
												<input type="text" class="form-control" id="lastName" th:value="${customer.lastName}" th:placeholder="${customer.lastName}" placeholder="" required>
											  </div>
											</div>

											<div class="mb-3">
											  <label for="phone">Phone</label>
											  <div class="input-group">
												<input type="tel" class="form-control" th:value="${customer.printPhone()}" id="phone" placeholder="" required>
											  </div>
											</div>

											<div class="mb-3">
											  <label for="email" >Email <span class="text-muted">(Optional)</span></label>
											  <input type="email" class="form-control" id="email" th:value="${customer.email}" placeholder="you@example.com">
											</div>

											<div class="mb-3">
											  <label for="address">Address</label>
											  <input type="text" class="form-control" id="suggest" th:field="*{address}" th:placeholder="${customer.userAddress}!=null?${customer.userAddress.address}:'1234 Main St'" required>
											</div>

											<div class="mb-3">
											  <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
											  <input type="text" class="form-control" id="address2" th:field="*{apartment}" th:placeholder="${customer.userAddress}!=null?${customer.userAddress.apartment}:'Apartment or suite'">
											</div>

											<hr class="mb-4">
											<div class="custom-control custom-checkbox">
											  <input type="checkbox" class="custom-control-input" id="same-address" th:name="same-address" th:checked="${true}">
											  <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
											</div>
											<div class="custom-control custom-checkbox">
											  <input type="checkbox" class="custom-control-input" id="save-info" th:name="save-info" th:checked="${true}">
											  <label class="custom-control-label" for="save-info">Save this information for next time</label>
											</div>
											<hr class="mb-4">

										</div>
									  </div>
								
																
								
<!-- 									<li class="cart_item clearfix">								
												<div>
												<div id="header">
													<input type="text" id="suggest" class="form-control input-sm" placeholder="Delivery address:">
													<input type="text" placeholder="Apartment/Office" required 
                           class="form-control input-sm"/>
												</div>
												</div>
									</li> -->
								</ul>
							</div>
							
							<!-- Order Total -->
							<div class="order_total">
								<div class="order_total_content text-md-right">
									<div class="order_total_title">Order Total:</div>
									<div class="order_total_amount" th:text="${cart.grandTotal}">$2000</div>
								</div>
							</div>

							<div class="cart_buttons d-flex justify-content-end">
								<span><a th:href="@{'/cart'}" href="#"><button type="button" class="button cart_button_clear">Return to Cart</button></a></span>
								<span><button type="submit" class="button cart_button_checkout">Complete Order</button></span>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</html>