<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notebook">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 60%">Category</th>
            <th style="width: 5%">Edit</th>
            <th style="width: 5%">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categorys}">
            <td th:text="${category.id}" style="text-align: center">#</td>
            <td th:text="${category.category}">Category</td>
            <td style="text-align: center"><a th:href="@{'/edit/{id}'(id=${category.id})}"><i class="fa fa-address-book" style="font-size:20px"></i></a></td>
            <td style="text-align: center"><a th:href="@{'/delete/{id}'(id=${category.id})}"><i class="fa fa-shopping-basket" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>