<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="category">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 60%">Category</th>
            <th style="width: 5%">Qty</th>
            <th style="width: 5%">Add to cart</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${page.content}">
            <td th:text="${category.id}" style="text-align: center">#</td>
            <td th:text="${category.catname}">Category</td>
            <div class="form-group">
			<td style="text-align: center">
                <input type="number" class="form-control form-control-sm" id="amount" th:name="amount" th:value="1" min="0" maxlength="20"/>
            </td>
            <td style="text-align: center"><button type="submit" class="btn btn-primary btn-sm">Add to cart</button></td>
			</div>
        </tr>
        </tbody>
    </table>
</div>
</html>