<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notebook">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 60%">Category</th>
            <th style="width: 5%">Qty</th>
            <th style="width: 5%">Add to cart</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categorys}">
            <td th:text="${category.id}" style="text-align: center">#</td>
            <td th:text="${category.catname}">Category</td>
            <td style="text-align: center"><div class="form-group1">
                <input type="number" class="form-control" id="amount" th:name="amount" th:value="1" min="0" maxlength="20"/>
            </div></td>
            <td style="text-align: center"><button type="submit" class="btn btn-primary">Add to cart</button></td>
        </tr>
        </tbody>
    </table>
</div>
</html>