<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="orders">
		<!-- Orders -->
		<div class="cart_section">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="cart_container">
							<div class="cart_title">Orders</div>
							<div class="cart_items">
								<ul class="cart_list">
									<li class="cart_item clearfix">
															
										<table class="table table-borderless table-hover horizontal-align">
										<thead>
											<th class="cart_item_title" style="width: 20%">#Order</th>
											<th class="cart_item_title" style="width: 58%">Date</th>
											<th class="cart_item_title" style="width: 58%">Status</th>
											<th class="cart_item_title" style="width: 4%">Count</th>
											<th class="cart_item_title" style="width: 4%">Quantity</th>
											<th class="cart_item_title" style="width: 4%">OrderTotal</th>
										</thead>
										<tbody>
										<tr th:each="order : ${orderset}" >
											<td><a href="#" th:href="@{'/order/{id}'(id=${order.id})}"><span class="cart_item_text" th:text="${order.id}">#OrderID</span></a></td>
											<td class="cart_item_text" th:text="${#calendars.format(order.createdAt,'dd.MM.yyyy HH:mm:ss')}">Date</td>
											<td class="cart_item_text" th:text="${order.getStatus(order.status)}">#OrderStatus</td>
											<td class="cart_item_text" th:text="${order.itemsCount}">Quantity</td>
											<td class="cart_item_text" th:text="${order.itemsQuantity}">Price</td>
											<td class="cart_item_text" th:text="${order.orderTotal}">Total</td>
										</tr>
										</tbody>
										
										</table>

										<!-- </div> -->
									</li>
								</ul>
							</div>
							
							<!-- Orders Total -->
							<div class="order_total">
								<div class="order_total_content text-md-right">
									<div class="order_total_title">Orders Total:</div>
									<div class="order_total_amount" th:text="${orderstotal}">$2000</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</html>